[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fxcmpy = "*"
python-socketio = "*"
python-engineio = "*"
pymongo = "*"
dash = "*"
dash-bootstrap-components = "*"
jupyter = "*"
pandas = '*'
pytz ='*'
tensorflow = ">2.0"
matplotlib ='*'
pytest = "*"


[requires]
python_version = "3.7"
