[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fxcmpy = "*"
sqlalchemy = "*"
pymongo = "*"
openpyxl = "*"
dash = "*"
dash-daq = "*"
python-socketio = "*"
dash-bootstrap-components = "*"

[requires]
python_version = "3.7"
