[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fxcmpy = "==1.2.6"
python-socketio = "==4.6.1"
python-engineio = "<4"
pymongo = "*"
dash = "*"
dash-bootstrap-components = "*"
jupyter = "*"
pandas = '*'


[requires]
python_version = "3.9"
